#footer-icons-container {
  height: 150px;
  display: grid;
  align-items: center;
}

#icon-container { 
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 100px;

}

#icon-container img {
  height: 40px;

  cursor: pointer;
  transition: all 0.5s;
}

#icon-container img:hover {
  height: 30px;
}